.logged-in-user {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    padding: 20px 0;
}

h2 {
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: gray, #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.statistics {
    margin-bottom: 20px;
}

.statistics h2 {
    text-align: center;
}

.users-section h2 {
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.form-group {
    margin-bottom: 20px;
}

.form-group button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(journal-and-coffee-at-table.jpg);
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('contact-about.jpg');
        background-size: cover;
        background-position: top center;
        min-height: 100vh;
    }
}

/* .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
  }
  
  .animation-class {
    animation-name: moveRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes moveRight {
    from {
        left: 0;
    }
    to {
        left: 200px;
    }
  } */
@keyframes wordAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}